@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --primary-font-family: 'Rubik', sans-serif;
    --primary-color: black;
    --secondary-color: #3d7e9a;
}

p, a, h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font-family);
    text-decoration: none;
    font-weight: 350;
    color: var(--primary-color);
}

a {
    color: var(--secondary-color)
}

h2 {
    font-weight: 600;
    font-size: 2em;
}

header {
    justify-content: space-between;
    display: flex;
    margin: auto;
    width: 90%;
}

header ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

header a {
    color: var(--primary-color);
}

main {
    margin: auto;
    width: 80%;
}