.header ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.wp-block-site-title a {
    text-transform: lowercase;
}

.hero {
    margin: 8em auto;
    width: 100%;
}

.hero-inner {
    margin: auto;
    width: 70%;
}

.hero-inner h1 {
    font-size: 5.2em;
    font-weight: 600;
    margin: 0;
}

.hero-inner h2 {
    font-weight: 400;
}

.particles-js-canvas-el {
    position: absolute;
}