.header ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.wp-block-site-title a {
    text-transform: lowercase;
}

.hero {
    margin: 8em auto;
    width: 70%;
}

.hero-title {
    font-size: 5.2em;
    font-weight: 600;
    margin: 0;
}

.hero-title-sub {
    font-weight: 400;
}