<!-- wp:template-part {"slug": "header"} /-->
<!-- wp:template-part {"slug": "hero"} /-->

<main>
    <div class="content-grid">
        <section class="article">
            <!-- wp:query {"query": {"perPage": 5, "search": "", "inherit": false}} --> <!-- ** begin a query that only return 5 posts per page ** -->

            <!-- wp:query-pagination -->

            <!-- wp:query-pagination-previous {"label": "<"} /-->
            <!-- wp:query-pagination-numbers /-->
            <!-- wp:query-pagination-next {"label": ">"} /-->

            <!-- /wp:query-pagination -->

            <!-- wp:post-template --> <!-- ** this is the same as doing the_post() in php ** -->
    
            <!-- wp:post-title {"isLink": true} /-->
            <!-- wp:post-excerpt /-->
    
            <!-- /wp:post-template -->

            <!-- /wp:query -->
        </section>
    
        <!-- wp:template-part {"slug": "categories"} /-->
    </div>
</main>

<!-- wp:template-part {"slug": "footer"} /-->