<!-- wp:template-part {"slug": "header"} /-->
<!-- ** insert header template ** -->

<div class="hero">
    <div id="particles-js"></div>

    <div class="hero-inner">
        <!-- wp:paragraph -->
        <h1>Snippets</h1>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph -->
        <h2>CSS, HTML, JavaScript og Webdesign m.m.</h2>
        <!-- /wp:paragraph -->
    </div>
</div>

<main class="main">
    <div class="content-grid">
        <section class="articles">
            <!-- ** begin a query, only return 3 posts per page ** -->
            <!-- wp:query {"query": {"perPage": 3}} -->

            <!-- wp:query-pagination {"paginationArrow": "chevron"} -->

            <!-- wp:query-pagination-previous /-->
            <!-- wp:query-pagination-numbers /-->
            <!-- wp:query-pagination-next /-->

            <!-- /wp:query-pagination -->

            <!-- ** this is the same as doing the_post() in php ** -->
            <!-- wp:post-template -->
    
            <!-- wp:post-title {"isLink": true} /-->
            <!-- wp:post-excerpt /-->
    
            <!-- /wp:post-template -->

            <!-- /wp:query -->
        </section>
    
        <section class="categories">
            <h2>Kategorier</h2>

            <ul>
                <!-- ** make the <li> elements into list items so they can be edited in the wordpress site editor ** -->

                <!-- wp:list-item -->
                <li>
                    <a href="#">test 1</a>
                </li>
                <!-- /wp:list-item -->
    
                <!-- wp:list-item -->
                <li>
                    <a href="#">test 2</a>
                </li>
                <!-- /wp:list-item -->
            </ul>
        </section>
    </div>
</main>

<!-- wp:template-part {"slug": "footer"} /-->
<!-- ** insert footer template ** -->