<!-- wp:template-part {"slug": "header"} /-->

<div class="hero">
    <div id="particles-js"></div>

    <div class="hero-inner">
        <h1>Snippets</h1>
        <h2>CSS, HTML, JavaScript og Webdesign m.m.</h2>
    </div>
</div>

<main class="main">
    <!-- wp:query -->

    <div class="content-grid">
        <section class="articles">
            <!-- wp:post-template -->
    
            <!-- wp:post-title {"isLink": true} /-->
            <!-- wp:post-excerpt /-->
    
            <!-- /wp:post-template -->
        </section>
    
        <section class="categories">
            <ul>
                <!-- wp:list-item -->
                <li>test 1</li>
                <!-- /wp:list-item -->
    
                <!-- wp:list-item -->
                <li>test 2</li>
                <!-- /wp:list-item -->
            </ul>
        </section>
    </div>

    <!-- /wp:query -->
</main>

<!-- wp:template-part {"slug": "footer"} /-->