<!-- wp:template-part {"slug": "header"} /-->

<div class="hero">
    <div id="particles-js"></div>

    <div class="hero-inner">
        <!-- wp:paragraph -->
        <h1>Snippets</h1>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph -->
        <h2>CSS, HTML, JavaScript og Webdesign m.m.</h2>
        <!-- /wp:paragraph -->
    </div>
</div>

<main class="main">
    <div class="content-grid">
        <section class="article">
            <!-- wp:post-content /-->
        </section>

        <!-- wp:template-part {"slug": "categories"} /-->
    </div>
</main>

<!-- wp:template-part {"slug": "footer"} /-->